.cart{
    background: rgba(255, 153, 0, 0.3);
    width: 264px;
    height: 944px;
    padding: 25px;
    position: sticky;
    top: 0;
}

.cart p{
    font-size: 17px;
}

.cart h6{
    font-weight: 400;
    font-size: 21px;
}

.btn-clear-cart{
    width: 90%;
    display: flex;
    height: 56px;
    font-size: 21px;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    background-color: rgb(250, 60, 60);
    border-radius: 4px;
    color: white;
}