.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   grid-gap: 40px;
   margin: 100px;
}

.proceed-link{
    text-decoration: none;
}

.btn-proceed{
    width: 90%;
    display: flex;
    height: 56px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    background-color: rgb(250, 113, 59);
    border-radius: 4px;
    color: white;
    
}